.AppHeader {
  background: #353848;
  color: #e1eef6;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;

  font-family: "10X10";
  src: url("../fonts/10X10Bold.ttf");
}
