.ToDoItemBox {
  padding: 1rem;
  align-items: center;
  display: flex;
}

.ToDOItemCheckBox {
  accent-color: #79bd9a;
  zoom: 1.5;
  cursor: pointer;
}

.ToDoItemName {
  color: #353848;
  margin-left: 0.5rem;

  font-size: 20px;
  font-weight: bolder;
  font-family: "10X10";
  src: url("../fonts/10X10Bold.ttf");
}

.ToDoItemDelBtn {
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  transition: 0.1s background ease-in;
}
